.form-control:focus {
  box-shadow: none;
}

.btn-logout {
  color: red;
  background-color: transparent;
  border-color: red; /*set the color you want here*/
}
.btn-logout:hover , .btn-logout:focus, .btn-logout:active, .btn-logout.active {
  color: white;
  background-color: red;
  border-color: red; /*set the color you want here*/
}